<!DOCTYPE html>
<html>
<head></head>
<body>
  <main class='container'>
    <h1>Basic LTI Launch</h1>
    <table>
      <% @params.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </table>
  </main>
</body>
</html>
